Source: jwhois
Section: net
Priority: optional
Maintainer: Per Lundberg <plundis@debian.org>
Standards-Version: 3.0.1

Package: jwhois
Architecture: any
Depends: ${shlibs:Depends}
Description: Improved Whois client
 This is jwhois, an improved Whois client capable of
 selecting Whois server to query based on a flexible
 configuration file using either regular expressions
 or CIDR blocks.
