Source: jwhois
Section: net
Priority: optional
Maintainer: Peter Karlsson <peterk@debian.org>
Build-Depends: debhelper (>= 4.0.0), gettext, libgdbm-dev, texinfo
Standards-Version: 3.6.1

Package: jwhois
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, dpkg (>= 1.9.0)
Recommends: lynx
Conflicts: suidmanager (<< 0.50)
Description: Improved Caching Whois client
 GNU jwhois is an Internet Whois client that queries hosts for
 information according to RFC 954 - NICNAME/WHOIS. JWHOIS is configured
 via a configuration file that contains information about all known Whois
 servers. Upon execution, the host to query is selected based on the
 information in the configuration file.
 .
 The configuration file is highly customizable and makes heavy use of
 regular expressions.
